<h2>検索フォーム</h2>
<%= form_with(model: S3file.new, url: '/s3files/search', local: true) do |form| %>
  <%= form.label :key %> 
  <%= form.text_field :key %>
  <%= form.label :category %> 
  <%= form.text_field :category %>
  <%= form.submit "検索" %>
<% end %>