<h1>ホーム</h1>

<%= link_to("音楽", s3files_music_path) %>
<%= link_to("映画", s3files_movie_path) %>
<%= link_to("番組", s3files_program_path) %>
<%= link_to("ゲーム", s3files_game_path) %>
<%= link_to("ニュース", s3files_news_path) %>
<%= link_to("スポーツ", s3files_sports_path) %>
<%= link_to("学び", s3files_learning_path) %>

<% if current_user %>
  
  <h2>最近見た</h2>
  <% @history = current_user.histories.order(created_at: :desc).limit(10) %>
  <% @history.each do |history| %>
    <p>チャンネル名：<%= history.s3file.channel.name %></p>
    <p>動画タイトル：<%= history.s3file.key %></p>
    <p>カテゴリー名：<%= history.s3file.category %></p>
    <%= link_to(image_tag("https://bucket-for-stream.s3.ap-northeast-1.amazonaws.com/assets#{history.s3file.id.to_s}/#{history.s3file.image}"), history.s3file) %>
  <% end %>
  
  <h2>急上昇</h2>
  <% @trend.each do |trend| %>
    <p>チャンネル名：<%= trend.channel.name %></p>
    <p>動画タイトル：<%= trend.key %></p>
    <p>カテゴリー名：<%= trend.category %></p>
    <%= link_to(image_tag("https://bucket-for-stream.s3.ap-northeast-1.amazonaws.com/assets#{trend.id.to_s}/#{trend.image}"), trend) %>
  <% end %>


<% end %>

<% @s3files.each do |s3file| %>
  <p>チャンネル名：<%= s3file.channel.name %></p>
  <p>動画タイトル：<%= s3file.key %></p>
  <p>カテゴリー名：<%= s3file.category %></p>
  <%= link_to(image_tag("https://bucket-for-stream.s3.ap-northeast-1.amazonaws.com/assets#{s3file.id.to_s}/#{s3file.image}"), s3file) %>
<% end %>