<h1>動画タイトル：<%= @s3file.key %></h1>
<h2>カテゴリー名：<%= @s3file.category %></h2>
<video src="https://bucket-for-stream.s3.ap-northeast-1.amazonaws.com/assets<%= @s3file.id.to_s %>/<%= @s3file.key %>" 
poster="https://bucket-for-stream.s3.ap-northeast-1.amazonaws.com/assets<%= @s3file.id.to_s %>/<%= @s3file.image %>" 
style="width: 1000px; height: 500px;"
controls></video>