<div class="container" style="width: 30%;">
  <%= form_with model: @video do |form|%>
    <%= form.label :title, '動画ファイル', style: "margin-top: 30px;" %><br>
    <%= form.file_field :title %><br>    
    <%= form.label :thumbnail, 'サムネイル', style: "margin-top: 30px;" %><br>
    <%= form.file_field :thumbnail %><br>
    <p style="margin-top: 30px;">カテゴリー名を選択してください</p> 
    <%= form.select :category, Video.categories.keys, {} %><br>
    <p style="margin-top: 30px;">タグを作成してください</p> 
    <p>スペースを入力することで複数のタグを付けることができます</p>
    <p>"例：音楽 文芸 スポーツ"</p>
    <%= form.label :tag_name, 'タグ' %><br>
    <%= form.text_field :tag_name %>
    <p style="margin-top: 30px;">チャンネル名を選択してください</p>
    <% @channels.each do |channel| %>
      <%= form.label :channel_id, channel.name, value: channel.id %>
      <%= form.radio_button :channel_id, "#{channel.id}" %><br>
    <% end %>
    <%= form.submit 'アップロード', style: "margin-top: 30px;"  %>
  <% end %>
</div>
