<% if @video.video.attached? %>
  <p><%= @video.title %></p> <br>
  <p><%= @video.introduction %></p> <br>
  <p><%= @video.user.name %></p> 
  <p><%= image_tag @video.user.image %></p>
  <p><%= @video.channel.name %></p>
  <video src="<%= rails_blob_path(@video.video) %>" type="video/mp4" controls></video>
<% end %>

<%= form_with model: [@video, @comment], local: true do |form| %>
  <%= form.text_area :comment %>
  <%= form.submit %>
<% end %>

<% @video.comments.each do |comment| %>
  <%= comment.user.name %>
  <%= comment.comment %>
<% end %>