<!DOCTYPE html>
<html>
  <head>
    <title>Stream</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header>
      <%= render 'layouts/links' %>
      <% if current_user %>
        <%= link_to(current_user.name, current_user) %>
        <%= link_to "ログアウト", session_path(current_user), method: :delete %><br>
      <% else %>
        <%= link_to "ゲストログイン", sessions_path, method: :post %><br>
      <% end %>
      <%= render 'videos/search_form' %>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
