<!DOCTYPE html>
<html>
  <head>
    <title>Stream</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header>
      <% if current_user %>
        <%= link_to(current_user.name, current_user) %>
      <% else  %>
        <%= link_to "ゲストログイン(閲覧用)", sessions_path, method: :post %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
